In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 1

In [3]:
# Which country has won the most gold medals in summer games?
abs(df['Total'] - df['Total.1']).idxmax()

'United States'

### Question 2

In [4]:
#Which country had the biggest difference between their summer and winter gold medal counts?
abs(df['Total'] - df['Total.1']).idxmax()

'United States'

### Question 3

In [161]:
# Which country has the biggest difference between their summer and winter gold medal counts relative to their total gold medal count? 
# Only include countries that have won at least 1 gold in both summer and winter.

df_gold = df[(df['Gold']>0) & (df['Gold.1']>0)].copy()
df_gold['relative_diff'] = abs(df['Gold'] - df['Gold.1']) / df['Gold.2']
df_gold['relative_diff'].idxmax()

'Bulgaria'

In [14]:
df_gold.loc['Bulgaria']

# Summer                19
Gold                    51
Silver                  85
Bronze                  78
Total                  214
# Winter                19
Gold.1                   1
Silver.1                 2
Bronze.1                 3
Total.1                  6
# Games                 38
Gold.2                  52
Silver.2                87
Bronze.2                81
Combined total         220
ID                     BUL
relative_diff     0.961538
Name: Bulgaria, dtype: object

### Question 4

In [122]:
# Write a function to update the dataframe to include a new column called "Points" which 
# is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, 
# and bronze mdeals for 1 point. The function should return only the column (a Series object) 
# which you created.
# This function should return a Series named Points of length 146

df['Points'] = (df['Gold.2'] * 3) + (df['Silver.2'] * 2) + (df['Bronze.2'] * 1)
df_points = df['Points']
df_points

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

### Question 5

In [27]:
# Which state has the most counties in it? 
# (hint: consider the sumlevel key carefully! You'll need this for future questions too...)
# A single string value should be returned
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [58]:
# keep only the rows with sumlev = 50
sum_lev50 = census_df[census_df['SUMLEV'] == 50]
sum_lev50.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [131]:
# count the number of unique CTYNAME by STNAME
county_counts = sum_lev50[['STNAME', 'CTYNAME']].groupby(['STNAME']).agg(['count'])
max_county = county_counts.loc[county_counts['CTYNAME'].idxmax()]
max_county = max_county.reset_index()
max_county['STNAME'].to_string(index = False)

'Texas'

### Question 6

In [110]:
#Only looking at the three most populous counties for each state, 
#what are the three most populous states (in order of highest population to lowest population)?
#This function should return a list of string values.

pop_sort = sum_lev50.sort_values(by = ['STNAME','CENSUS2010POP'], ascending = [True,False])
pop_top3 = pop_sort.groupby('STNAME').head(3)
new_pop = pop_top3[['STNAME','CENSUS2010POP']].groupby(['STNAME']).agg(['sum'])

new_pop_sort = new_pop.sort_values(by = [('CENSUS2010POP','sum')], ascending = False)
new_pop_top3 = new_pop_sort.head(3)
new_pop_top3 = new_pop_top3.reset_index()
most_populous = new_pop_top3['STNAME'].tolist()
most_populous

['California', 'Texas', 'Illinois']

### Question 7

In [160]:
# Which county has had the largest change in population within the five year period 
# (hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, 
# you need to consider all five columns)?
# This function should return a single string value.


keep_columns = ['CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013'
               ,'POPESTIMATE2014','POPESTIMATE2015']

short_df = sum_lev50[keep_columns].copy()

short_df['chng_1'] = abs((short_df['POPESTIMATE2011']) - (short_df['POPESTIMATE2010']))
short_df['chng_2'] = abs((short_df['POPESTIMATE2012']) - (short_df['POPESTIMATE2011']))
short_df['chng_3'] = abs((short_df['POPESTIMATE2013']) - (short_df['POPESTIMATE2012']))
short_df['chng_4'] = abs((short_df['POPESTIMATE2014']) - (short_df['POPESTIMATE2013']))
short_df['chng_5'] = abs((short_df['POPESTIMATE2015']) - (short_df['POPESTIMATE2014']))
short_df['tot_chng'] = short_df['chng_1'] + short_df['chng_2'] + short_df['chng_3'] + short_df['chng_4'] + short_df['chng_5']
short_df = short_df.sort_values(by = [('tot_chng')], ascending = False)
short_df['CTYNAME'].head(1).to_string(index = False)

'Harris County'

### Question 8

In [174]:
# In this datafile, the United States is broken up into four regions using the "REGION" column.
# Create a query that finds the counties that belong to regions 1 or 2, whose name starts with
# 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.
# This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the 
# same index ID as the census_df (sorted ascending by index).

census_df = pd.read_csv('census.csv')
sum_lev50 = census_df[census_df['SUMLEV'] == 50]
sum_lev50.head()

regions = [1,2]
region_filter = sum_lev50[sum_lev50.REGION.isin(regions)]

pop_filter = region_filter[region_filter['POPESTIMATE2015'] > region_filter['POPESTIMATE2014']]

keep_columns = ['STNAME','CTYNAME','REGION','POPESTIMATE2014','POPESTIMATE2015']

pop_filter = pop_filter[keep_columns]
pop_filter

name_filter = pop_filter[pop_filter['CTYNAME'].str.startswith("Washington")]
name_filter

,STNAME,CTYNAME,REGION,POPESTIMATE2014,POPESTIMATE2015
896,Iowa,Washington County,2,22087,22247
1419,Minnesota,Washington County,2,249320,251597
2345,Pennsylvania,Washington County,1,208175,208261
2355,Rhode Island,Washington County,1,126430,126517
3163,Wisconsin,Washington County,2,133301,133674